*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: pink;
}
.container{
  width: 500px;
  height: 250px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  display: none;
}
.container img{
  margin-left: 26rem;
  cursor: pointer;
  height: 3.5vh;
}
.container h1{
  margin-bottom: 1rem;
  text-align: center;
}
.container p{
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
  color: #636e72;
}
.container button{
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 120px;
  background-color: gray;
  border: 0px;
  outline: none;
  color: #fff;
}